from app.modules.{{ id }}.model import {{ id | pascal_case }}
from app.modules.{{ id }}.schemas import (
    {{ id | pascal_case }}Create,
    {{ id | pascal_case }}Update,
    {{ id | pascal_case }}Read,
    {{ id | pascal_case }}List,
    {{ id | pascal_case }}Page,
)
from app.modules.{{ id }}.repository import {{ id | pascal_case }}Repository
from app.modules.{{ id }}.service import {{ id | pascal_case }}Service
from app.modules.{{ id }}.router import router as {{ id }}_router

__all__ = [
    "{{ id | pascal_case }}",
    "{{ id | pascal_case }}Create",
    "{{ id | pascal_case }}Update",
    "{{ id | pascal_case }}Read",
    "{{ id | pascal_case }}List",
    "{{ id | pascal_case }}Page",
    "{{ id | pascal_case }}Repository",
    "{{ id | pascal_case }}Service",
    "{{ id }}_router",
]
