# {{ name }}

## Fields

| Field | Type | Description |
|-------|------|-------------|
{% for field in fields %}
| {{ field.name }} | {{ field.type }} | {{ field.description if field.description else "" }} |
{% endfor %}

## Usage

```python
entity = {{ name }}(
{% for field in fields %}
    {{ field.name }}={{ field.example if field.example else "..." }},
{% endfor %}
)
```
